body {
  margin: 0;
  padding: 0;
  text-align: 0;
}

.search-engine {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 10px;
}

.search-engine input {
  width: 70%;
  height: 45px;
  border: 1px solid;
  border-radius: 8px;
  padding: 2px 15px;
  font-size: 16px;
  outline: none;
  background-color: #fff;
  color: #555;
}

.search-engine input:hover {
  background-color: #f0f0f0;
  border-color: #bbb;
}

.search-engine button {
  background-color: #ffffff;
  color: #333;
  border: 1px solid #ddd;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 20px;
}

.search-engine button:hover {
  background-color: #f0f0f0;
  border-color: #bbb;
}